ops/n8n-workflows/01-billing-pipeline.json
{
  "name": "01 — Billing Pipeline (Stripe → DB → Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-subscription",
        "options": {
          "rawBody": true
        }
      },
      "id": "stripe-webhook",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verify-event",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "customer.subscription.created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-event",
      "name": "Is subscription.created?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET plan = 'pro', plan_updated_at = NOW() WHERE stripe_customer_id = '{{ $json.body.data.object.customer }}' RETURNING id, email;",
        "options": {}
      },
      "id": "update-db",
      "name": "Update DB → Pro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` so n8n retries no-op via\n//      ON CONFLICT DO NOTHING server-side.\n//   2. Carries forward the upstream item as `summary` so that the\n//      Telegram text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post\n// (idempotency) and the downstream Telegram node (text +\n// reply_markup callback_data).\nconst item = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'unknown'}:${$execution.id || 'unknown'}:pro-upgrade`;\nconst summary = `🎉 Stripe Pro upgrade — ${item.email ?? $('Stripe Webhook').first()?.json?.body?.data?.object?.customer_email ?? 'unknown'} (customer=${$('Stripe Webhook').first()?.json?.body?.data?.object?.customer ?? 'n/a'})`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    upstream: item,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      userId: item.id ?? null,\n      email: item.email ?? $('Stripe Webhook').first()?.json?.body?.data?.object?.customer_email ?? null,\n      stripeCustomerId: $('Stripe Webhook').first()?.json?.body?.data?.object?.customer ?? null,\n      subscriptionId: $('Stripe Webhook').first()?.json?.body?.data?.object?.id ?? null,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-pro-upgrade",
      "name": "Build alert payload (pro-upgrade)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"revenue\",\n  \"severity\": \"P0\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-pro-upgrade",
      "name": "POST /api/internal/alerts/post (pro-upgrade)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=🎉 *Нова Pro-підписка!*\n\nEmail: {{ $json.body.data.object.customer_email || 'N/A' }}\nПлан: {{ $json.body.data.object.items.data[0].price.recurring.interval }}ly\nСума: ₴{{ Math.round($json.body.data.object.items.data[0].price.unit_amount / 100) }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_REVENUE }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (pro-upgrade)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (pro-upgrade)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (pro-upgrade)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-notify",
      "name": "Telegram → #revenue",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/webhook-events/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflowId\": \"01-billing-pipeline\",\n  \"source\": \"stripe\",\n  \"payload\": {{ JSON.stringify($json.body || $json) }},\n  \"headers\": {{ JSON.stringify($json.headers || {}) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "record-webhook-event-01",
      "name": "Record webhook event (n8n_webhook_events)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Record webhook event (n8n_webhook_events)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is subscription.created?": {
      "main": [
        [
          {
            "node": "Update DB → Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB → Pro": {
      "main": [
        [
          {
            "node": "Build alert payload (pro-upgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build alert payload (pro-upgrade)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (pro-upgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (pro-upgrade)": {
      "main": [
        [
          {
            "node": "Telegram → #revenue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record webhook event (n8n_webhook_events)": {
      "main": [
        [
          {
            "node": "Is subscription.created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "active": false,
  "tags": []
}
