ops/n8n-workflows/02-failed-payment-recovery.json
{
  "name": "02 — Failed Payment Recovery (Stripe → Telegram + Resend)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-payment-failed",
        "options": {
          "rawBody": true
        }
      },
      "id": "stripe-webhook",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "verify-event",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "invoice.payment_failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-event",
      "name": "Is payment_failed?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` so n8n retries no-op via\n//      ON CONFLICT DO NOTHING server-side.\n//   2. Carries forward the upstream item as `summary` so that the\n//      Telegram text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post\n// (idempotency) and the downstream Telegram node (text +\n// reply_markup callback_data).\nconst item = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'unknown'}:${$execution.id || 'unknown'}:payment-failed`;\nconst summary = `Stripe payment FAILED — customer=${item.body?.data?.object?.customer_email ?? item.body?.data?.object?.customer ?? 'unknown'}, amount=${item.body?.data?.object?.amount_due ?? 0}, attempts=${item.body?.data?.object?.attempt_count ?? 0}`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    upstream: item,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      stripeCustomerId: item.body?.data?.object?.customer ?? null,\n      customerEmail: item.body?.data?.object?.customer_email ?? null,\n      amountDue: Number(item.body?.data?.object?.amount_due) || 0,\n      attemptCount: Number(item.body?.data?.object?.attempt_count) || 0,\n      invoiceId: item.body?.data?.object?.id ?? null,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-payment-failed",
      "name": "Build alert payload (payment-failed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"incidents\",\n  \"severity\": \"P0\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-payment-failed",
      "name": "POST /api/internal/alerts/post (payment-failed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=⚠️ *Failed payment*\n\nCustomer: {{ $json.body.data.object.customer_email || 'N/A' }}\nAmount: ₴{{ Math.round($json.body.data.object.amount_due / 100) }}\nAttempt: {{ $json.body.data.object.attempt_count }}/4",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_REVENUE }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (payment-failed)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (payment-failed)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (payment-failed)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-alert",
      "name": "Telegram → #incidents",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 200],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Sergeant <support@sergeant.app>\",\n  \"to\": [\"{{ $('Stripe Webhook').item.json.body.data.object.customer_email }}\"],\n  \"subject\": \"Sergeant: оновіть платіжну картку\",\n  \"html\": \"<h2>Оплата не пройшла</h2><p>Ваша картка не спрацювала. Будь ласка, оновіть платіжні дані у <a href=\\\"https://sergeant.app/settings/billing\\\">налаштуваннях</a>.</p><p>Якщо потрібна допомога — напишіть нам у чат.</p>\"\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Resend → update card email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E765p971FMV4eDbY",
          "name": "Resend (Bearer)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "wait-24h",
      "name": "Wait 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-attempt",
              "leftValue": "={{ $('Stripe Webhook').item.json.body.data.object.attempt_count }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "id": "max-retries",
      "name": "Attempts >= 4?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET plan = 'free', plan_updated_at = NOW() WHERE stripe_customer_id = '{{ $('Stripe Webhook').item.json.body.data.object.customer }}';",
        "options": {}
      },
      "id": "downgrade-to-free",
      "name": "Downgrade → Free",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/webhook-events/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflowId\": \"02-failed-payment-recovery\",\n  \"source\": \"stripe\",\n  \"payload\": {{ JSON.stringify($json.body || $json) }},\n  \"headers\": {{ JSON.stringify($json.headers || {}) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "record-webhook-event-02",
      "name": "Record webhook event (n8n_webhook_events)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Record webhook event (n8n_webhook_events)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is payment_failed?": {
      "main": [
        [
          {
            "node": "Build alert payload (payment-failed)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resend → update card email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend → update card email": {
      "main": [
        [
          {
            "node": "Wait 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24h": {
      "main": [
        [
          {
            "node": "Attempts >= 4?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempts >= 4?": {
      "main": [
        [
          {
            "node": "Downgrade → Free",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build alert payload (payment-failed)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (payment-failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (payment-failed)": {
      "main": [
        [
          {
            "node": "Telegram → #incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record webhook event (n8n_webhook_events)": {
      "main": [
        [
          {
            "node": "Is payment_failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "active": false,
  "tags": []
}
