ops/n8n-workflows/03-sentry-alert-routing.json
{
  "name": "03 — Sentry Alert Routing (Sentry → Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentry-alert",
        "options": {
          "rawBody": true
        }
      },
      "id": "sentry-webhook",
      "name": "Sentry Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "severity-filter",
              "leftValue": "={{ $json.body.data.issue.level }}",
              "rightValue": "info",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "filter-severity",
      "name": "Severity >= warning?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-fatal",
              "leftValue": "={{ $json.body.data.issue.level }}",
              "rightValue": "fatal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-fatal",
      "name": "Is fatal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` so n8n retries no-op via\n//      ON CONFLICT DO NOTHING server-side.\n//   2. Carries forward the upstream item as `summary` so that the\n//      Telegram text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post\n// (idempotency) and the downstream Telegram node (text +\n// reply_markup callback_data).\nconst item = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'unknown'}:${$execution.id || 'unknown'}:fatal`;\nconst summary = `FATAL Sentry — ${item.body?.data?.issue?.project?.name ?? 'unknown'} — ${item.body?.data?.issue?.title ?? 'no title'} (${item.body?.data?.issue?.count ?? 0} ev)`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    upstream: item,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      issueId: item.body?.data?.issue?.id ?? null,\n      permalink: item.body?.data?.issue?.permalink ?? null,\n      level: item.body?.data?.issue?.level ?? null,\n      project: item.body?.data?.issue?.project?.name ?? null,\n      eventCount: Number(item.body?.data?.issue?.count) || 0,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-fatal",
      "name": "Build alert payload (fatal)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"incidents\",\n  \"severity\": \"P0\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-fatal",
      "name": "POST /api/internal/alerts/post (fatal)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=🚨 *FATAL — Sentry*\n\n*{{ $json.body.data.issue.title }}*\nProject: {{ $json.body.data.issue.project.name }}\nEvents: {{ $json.body.data.issue.count }}\n[Open in Sentry]({{ $json.body.data.issue.permalink }})",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_INCIDENTS }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (fatal)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (fatal)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (fatal)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-fatal",
      "name": "Telegram → FATAL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 200],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` so n8n retries no-op via\n//      ON CONFLICT DO NOTHING server-side.\n//   2. Carries forward the upstream item as `summary` so that the\n//      Telegram text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post\n// (idempotency) and the downstream Telegram node (text +\n// reply_markup callback_data).\nconst item = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'unknown'}:${$execution.id || 'unknown'}:warning`;\nconst summary = `Sentry ${item.body?.data?.issue?.level ?? 'warning'} — ${item.body?.data?.issue?.project?.name ?? 'unknown'} — ${item.body?.data?.issue?.title ?? 'no title'} (${item.body?.data?.issue?.count ?? 0} ev)`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    upstream: item,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      issueId: item.body?.data?.issue?.id ?? null,\n      permalink: item.body?.data?.issue?.permalink ?? null,\n      level: item.body?.data?.issue?.level ?? null,\n      project: item.body?.data?.issue?.project?.name ?? null,\n      eventCount: Number(item.body?.data?.issue?.count) || 0,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-warning",
      "name": "Build alert payload (warning)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"incidents\",\n  \"severity\": \"P1\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-warning",
      "name": "POST /api/internal/alerts/post (warning)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=⚠️ *Sentry — {{ $json.body.data.issue.level }}*\n\n*{{ $json.body.data.issue.title }}*\nProject: {{ $json.body.data.issue.project.name }}\nEvents: {{ $json.body.data.issue.count }}\n[Open in Sentry]({{ $json.body.data.issue.permalink }})",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_INCIDENTS }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (warning)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (warning)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (warning)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-warning",
      "name": "Telegram → warning",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 400],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "Sentry Webhook": {
      "main": [
        [
          {
            "node": "Severity >= warning?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity >= warning?": {
      "main": [
        [
          {
            "node": "Is fatal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is fatal?": {
      "main": [
        [
          {
            "node": "Build alert payload (fatal)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build alert payload (warning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build alert payload (fatal)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (fatal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (fatal)": {
      "main": [
        [
          {
            "node": "Telegram → FATAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build alert payload (warning)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (warning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (warning)": {
      "main": [
        [
          {
            "node": "Telegram → warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "active": false,
  "tags": []
}
