ops/n8n-workflows/04-daily-backup-verification.json
{
  "name": "04 — Daily Backup Verification (Cron → Railway → Telegram)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "cron-3am",
      "name": "Cron 03:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backboard.railway.com/graphql/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Project-Access-Token",
              "value": "={{ $env.RAILWAY_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query LatestDeployments($projectId: String!) { project(id: $projectId) { services { edges { node { name deployments(first: 1) { edges { node { id status createdAt } } } } } } } }\",\n  \"variables\": { \"projectId\": \"{{ $env.RAILWAY_PROJECT_ID }}\" }\n}",
        "options": {}
      },
      "id": "railway-api",
      "name": "Railway → latest deployments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT count(*) FROM \"user\")::int AS user_count, (SELECT count(*) FROM module_data WHERE module = 'finyk')::int AS tx_count;",
        "options": {}
      },
      "id": "sanity-check",
      "name": "Sanity SQL check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-users",
              "leftValue": "={{ Number($json.user_count) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "is-healthy",
      "name": "Data OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=✅ *Backup OK* ({{ new Date().toISOString().slice(0,10) }})\n\nUsers: {{ $json.user_count }}\nTransactions: {{ $json.tx_count }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_OPS }}"
        }
      },
      "id": "telegram-ok",
      "name": "Telegram → backup OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 200],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` (workflow_id:execution_id) — n8n retry\n//      storms then no-op on the server side via ON CONFLICT DO NOTHING.\n//   2. Carries forward the Sanity-SQL row as `userCount` so that the\n//      summary text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post (idempotency)\n// and Telegram → CRITICAL (text + reply_markup).\nconst row = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'wf04'}:${$execution.id || 'unknown'}`;\nconst summary = `BACKUP FAILED — sanity SQL returned ${row.user_count ?? 0} users.`;\nreturn [{ json: { alertId, userCount: row.user_count ?? 0, txCount: row.tx_count ?? 0, summary } }];"
      },
      "id": "build-alert-payload",
      "name": "Build alert payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"incidents\",\n  \"severity\": \"P1\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {\n    \"workflowId\": \"{{ $workflow.id }}\",\n    \"executionId\": \"{{ $execution.id }}\",\n    \"userCount\": {{ Number($json.userCount) || 0 }},\n    \"txCount\": {{ Number($json.txCount) || 0 }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row",
      "name": "POST /api/internal/alerts/post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=🚨 *BACKUP FAILED* ({{ new Date().toISOString().slice(0,10) }})\n\nSanity check returned 0 users. Investigate immediately!",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_INCIDENTS }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-fail",
      "name": "Telegram → CRITICAL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 400],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "Cron 03:00 UTC": {
      "main": [
        [
          {
            "node": "Railway → latest deployments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Railway → latest deployments": {
      "main": [
        [
          {
            "node": "Sanity SQL check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanity SQL check": {
      "main": [
        [
          {
            "node": "Data OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data OK?": {
      "main": [
        [
          {
            "node": "Telegram → backup OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build alert payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build alert payload": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post": {
      "main": [
        [
          {
            "node": "Telegram → CRITICAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "active": false,
  "tags": []
}
