ops/n8n-workflows/05-renovate-pr-auto-handler.json
{
  "name": "05 — Renovate PR Auto-Handler (GitHub → auto-merge / Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "options": {
          "rawBody": true
        }
      },
      "id": "github-webhook",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-renovate",
              "leftValue": "={{ $json.body.pull_request.user.login }}",
              "rightValue": "renovate[bot]",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "is-opened",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-renovate",
      "name": "Renovate PR opened?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-patch",
              "leftValue": "={{ $json.body.pull_request.title }}",
              "rightValue": "fix(deps):",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ]
        }
      },
      "id": "check-semver",
      "name": "Is patch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Skords-01/Sergeant/pulls/{{ $json.body.pull_request.number }}/reviews",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"event\": \"APPROVE\", \"body\": \"Auto-approved patch update by n8n ops bot.\" }"
      },
      "id": "auto-approve",
      "name": "Auto-approve patch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` so n8n retries no-op via\n//      ON CONFLICT DO NOTHING server-side.\n//   2. Carries forward the upstream item as `summary` so that the\n//      Telegram text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post\n// (idempotency) and the downstream Telegram node (text +\n// reply_markup callback_data).\nconst item = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'unknown'}:${$execution.id || 'unknown'}:renovate-non-patch`;\nconst summary = `Renovate non-patch PR #${item.body?.pull_request?.number ?? '?'} — ${item.body?.pull_request?.title ?? 'no title'}`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    upstream: item,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      prNumber: Number(item.body?.pull_request?.number) || null,\n      prTitle: item.body?.pull_request?.title ?? null,\n      prUrl: item.body?.pull_request?.html_url ?? null,\n      baseBranch: item.body?.pull_request?.base?.ref ?? null,\n      headBranch: item.body?.pull_request?.head?.ref ?? null,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-renovate-non-patch",
      "name": "Build alert payload (renovate-non-patch)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"engineering\",\n  \"severity\": \"P1\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-renovate-non-patch",
      "name": "POST /api/internal/alerts/post (renovate-non-patch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=📦 *Renovate PR (non-patch)*\n\n[#{{ $json.body.pull_request.number }}]({{ $json.body.pull_request.html_url }}) — {{ $json.body.pull_request.title }}\n\nNeeds manual review.",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_ENGINEERING }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (renovate-non-patch)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (renovate-non-patch)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (renovate-non-patch)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-review",
      "name": "Telegram → review needed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 400],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Renovate PR opened?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renovate PR opened?": {
      "main": [
        [
          {
            "node": "Is patch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is patch?": {
      "main": [
        [
          {
            "node": "Auto-approve patch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build alert payload (renovate-non-patch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build alert payload (renovate-non-patch)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (renovate-non-patch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (renovate-non-patch)": {
      "main": [
        [
          {
            "node": "Telegram → review needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "active": false,
  "tags": []
}
