ops/n8n-workflows/103-alert-escalation-cron.json
{
  "name": "103 — Alert Escalation Cron (every 5min → DM founder via OpenClaw bot)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "cron-5min",
      "name": "Cron */5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"olderThanMinutes\": 15,\n  \"notYetEscalated\": true,\n  \"limit\": 50\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "fetch-pending",
      "name": "POST /api/internal/alerts/pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Filter the /alerts/pending response down to P0/P1 (per ADR-0038\n// §3.2 — \"P0/P1 unacked > 15min\"). P2/P3 are silent informational and\n// don't earn escalation. Split each surviving alert into its own item\n// so downstream nodes run once per alert.\nconst body = $input.first()?.json ?? {};\nconst alerts = Array.isArray(body.alerts) ? body.alerts : [];\nconst escalatable = alerts.filter((a) => a?.severity === 'P0' || a?.severity === 'P1');\nreturn escalatable.map((a) => ({ json: a }));"
      },
      "id": "filter-and-split",
      "name": "Filter P0/P1 + split",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/escalate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alert_id }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-escalate",
      "name": "POST /api/internal/alerts/escalate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build the founder DM body. Pull the alert row from the upstream\n// `Filter P0/P1 + split` node — `$json` here is the /escalate response\n// (`{ ok, alreadyEscalated }`), not the alert. Truncate `summary` to\n// 350 chars so a flood of long alerts doesn't blow Telegram's 4096-char\n// message cap.\nconst alert = $('Filter P0/P1 + split').item.json;\nconst summary = (alert?.summary || '').slice(0, 350);\nconst posted = alert?.posted_at ? new Date(alert.posted_at) : null;\nconst minutesSincePost = posted ? Math.round((Date.now() - posted.getTime()) / 60000) : null;\nconst minutesLabel = minutesSincePost === null ? '?' : `${minutesSincePost}хв`;\nconst text = [\n  `🚨 <b>Unacked ${alert?.severity || 'P?'} alert — ${minutesLabel}</b>`,\n  '',\n  `<b>Topic:</b> ${alert?.topic || '—'}`,\n  `<b>Alert ID:</b> <code>${alert?.alert_id || '—'}</code>`,\n  '',\n  summary || '<i>(no summary)</i>',\n  '',\n  '<i>Tap an ack-button у супергрупі або /alerts pending у DM.</i>',\n].join('\\n');\nreturn [{ json: { text, alert } }];"
      },
      "id": "build-dm",
      "name": "Build founder DM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.OPENCLAW_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.OPENCLAW_FOUNDER_TG_USER_ID }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"parse_mode\": \"HTML\",\n  \"disable_web_page_preview\": true\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "dm-founder",
      "name": "DM founder via @OpenClaw_sergeant_bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron */5min": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/pending": {
      "main": [
        [
          {
            "node": "Filter P0/P1 + split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter P0/P1 + split": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/escalate": {
      "main": [
        [
          {
            "node": "Build founder DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build founder DM": {
      "main": [
        [
          {
            "node": "DM founder via @OpenClaw_sergeant_bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "active": false,
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "alerts"
    },
    {
      "name": "escalation"
    }
  ]
}
