ops/n8n-workflows/104-alert-callback-router.json
{
  "name": "104 — Alert Callback Router (Sergeant_alert_bot inline-keyboard → /alerts/ack)",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "id": "tg-callback-trigger",
      "name": "Telegram callback_query",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse `callback_data` produced by alert workflows (ADR-0038, Wave 3\n// §3.2 + Sprint 6 escalation tiers). Two formats:\n//   1. `ack:<r|i|m>:<alertId>`                     — original 3-button ack-row\n//   2. `snooze:<1h|4h>:<alertId>`                  — T2 repeat-message snooze row\n// Prefix kept short so callback_data fits Telegram's 64-byte budget even\n// with a 32-char execution-id suffix.\nconst raw = $input.first()?.json ?? {};\nconst callbackQuery = raw.callback_query ?? raw;\nconst data = String(callbackQuery?.data ?? '');\nconst from = callbackQuery?.from ?? {};\nconst message = callbackQuery?.message ?? {};\nconst chat = message?.chat ?? {};\nconst ACTION_MAP = { r: 'read', i: 'investigating', m: 'muted' };\nconst SNOOZE_MAP = { '1h': 60, '4h': 240 };\nconst parts = data.split(':');\nlet kind = 'noop';\nlet ackAction = null;\nlet snoozeDurationMinutes = null;\nlet alertId = null;\nif (parts[0] === 'ack' && parts.length >= 3 && ACTION_MAP[parts[1]]) {\n  kind = 'ack';\n  ackAction = ACTION_MAP[parts[1]];\n  alertId = parts.slice(2).join(':');\n} else if (parts[0] === 'snooze' && parts.length >= 3 && SNOOZE_MAP[parts[1]]) {\n  kind = 'snooze';\n  snoozeDurationMinutes = SNOOZE_MAP[parts[1]];\n  alertId = parts.slice(2).join(':');\n}\nreturn [{ json: {\n  kind,\n  alertId,\n  ackAction,\n  snoozeDurationMinutes,\n  callbackQueryId: callbackQuery?.id ?? null,\n  ackByTgUserId: typeof from?.id === 'number' ? from.id : null,\n  ackByUsername: from?.username || from?.first_name || 'unknown',\n  chatId: chat?.id ?? null,\n  messageId: message?.message_id ?? null,\n  originalText: message?.text ?? '',\n  originalReplyMarkup: message?.reply_markup ?? null,\n} }];"
      },
      "id": "parse-callback",
      "name": "Parse callback_data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "route-ack",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "ack",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "ack"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "route-snooze",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "snooze",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "snooze"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "route-callback",
      "name": "Route ack/snooze",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/ack",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"ackByTgUserId\": {{ Number($json.ackByTgUserId) || 0 }},\n  \"ackAction\": \"{{ $json.ackAction }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "post-ack",
      "name": "POST /api/internal/alerts/ack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build the post-ack edited message: original text + ack footer.\n// We strip the inline-keyboard (set to empty) so the buttons disappear\n// after the click — preventing a second user from acking the same row\n// (Phase 5 multi-operator will revisit this, see ADR-0038 §Negative).\n// Telegram editMessageText accepts `reply_markup: { inline_keyboard: [] }`\n// to drop the buttons.\n// `fullResponse: true` is set on the upstream HTTP node, so `$json` is\n// `{ statusCode, headers, body }` with the actual API payload nested\n// in `body`. Fall back to `$json` itself if the shape is flat (e.g. a\n// caller manually disabled fullResponse during smoke-test).\nconst parsed = $('Parse callback_data').item.json;\nconst ackResp = $input.first()?.json ?? {};\nconst statusCode = typeof ackResp?.statusCode === 'number' ? ackResp.statusCode : null;\nconst ackBody = (ackResp?.body && typeof ackResp.body === 'object') ? ackResp.body : ackResp;\nconst alreadyAcked = !!ackBody?.alreadyAcked;\nconst hhmm = new Date().toISOString().slice(11, 16);\nconst footer = alreadyAcked\n  ? `\\n\\n— already acked (last clicker: @${parsed.ackByUsername} at ${hhmm} UTC)`\n  : `\\n\\n✅ acked by @${parsed.ackByUsername} at ${hhmm} UTC (${parsed.ackAction})`;\nconst newText = `${parsed.originalText || '(no text)'}${footer}`;\nreturn [{ json: {\n  chatId: parsed.chatId,\n  messageId: parsed.messageId,\n  newText,\n  callbackQueryId: parsed.callbackQueryId,\n  alreadyAcked,\n  statusCode,\n  ackResponse: ackBody,\n} }];"
      },
      "id": "build-edit",
      "name": "Build edited message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.SERGEANT_ALERT_BOT_TOKEN }}/editMessageText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ Number($json.chatId) }},\n  \"message_id\": {{ Number($json.messageId) }},\n  \"text\": {{ JSON.stringify($json.newText) }},\n  \"reply_markup\": { \"inline_keyboard\": [] }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "edit-message",
      "name": "Telegram editMessageText",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.SERGEANT_ALERT_BOT_TOKEN }}/answerCallbackQuery",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": \"{{ $('Build edited message').item.json.callbackQueryId }}\",\n  \"text\": \"{{ $('Build edited message').item.json.alreadyAcked ? 'Already acked' : 'Ack recorded' }}\",\n  \"cache_time\": 5\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "answer-cb",
      "name": "Telegram answerCallbackQuery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/snooze",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"durationMinutes\": {{ Number($json.snoozeDurationMinutes) || 60 }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "post-snooze",
      "name": "POST /api/internal/alerts/snooze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build the post-snooze editMessageText body — confirm to the operator\n// that the snooze landed, and drop the inline keyboard so the buttons\n// can't be clicked again. Backend response is in `body` because the\n// upstream HTTP node has `fullResponse: true`.\nconst parsed = $('Parse callback_data').item.json;\nconst snoozeResp = $input.first()?.json ?? {};\nconst snoozeBody = (snoozeResp?.body && typeof snoozeResp.body === 'object') ? snoozeResp.body : snoozeResp;\nconst hhmm = new Date().toISOString().slice(11, 16);\nconst hoursLabel = parsed.snoozeDurationMinutes === 240 ? '4 год' : '1 год';\nconst footer = snoozeBody?.ok\n  ? `\\n\\n🕐 snoozed by @${parsed.ackByUsername} на ${hoursLabel} (${hhmm} UTC)`\n  : `\\n\\n⚠ snooze не зафіксовано (alert_not_found)`;\nconst newText = `${parsed.originalText || '(no text)'}${footer}`;\nreturn [{ json: {\n  chatId: parsed.chatId,\n  messageId: parsed.messageId,\n  newText,\n  callbackQueryId: parsed.callbackQueryId,\n  snoozeOk: !!snoozeBody?.ok,\n  hoursLabel,\n} }];"
      },
      "id": "build-snooze-edit",
      "name": "Build snooze edited message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.SERGEANT_ALERT_BOT_TOKEN }}/editMessageText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ Number($json.chatId) }},\n  \"message_id\": {{ Number($json.messageId) }},\n  \"text\": {{ JSON.stringify($json.newText) }},\n  \"reply_markup\": { \"inline_keyboard\": [] }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "edit-snooze-message",
      "name": "Telegram editMessageText (snooze)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.SERGEANT_ALERT_BOT_TOKEN }}/answerCallbackQuery",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": \"{{ $('Build snooze edited message').item.json.callbackQueryId }}\",\n  \"text\": \"{{ $('Build snooze edited message').item.json.snoozeOk ? ('Snoozed ' + $('Build snooze edited message').item.json.hoursLabel) : 'Snooze failed' }}\",\n  \"cache_time\": 5\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "answer-snooze-cb",
      "name": "Telegram answerCallbackQuery (snooze)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 420],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram callback_query": {
      "main": [
        [
          {
            "node": "Parse callback_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse callback_data": {
      "main": [
        [
          {
            "node": "Route ack/snooze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route ack/snooze": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /api/internal/alerts/snooze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/ack": {
      "main": [
        [
          {
            "node": "Build edited message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build edited message": {
      "main": [
        [
          {
            "node": "Telegram editMessageText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram editMessageText": {
      "main": [
        [
          {
            "node": "Telegram answerCallbackQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/snooze": {
      "main": [
        [
          {
            "node": "Build snooze edited message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build snooze edited message": {
      "main": [
        [
          {
            "node": "Telegram editMessageText (snooze)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram editMessageText (snooze)": {
      "main": [
        [
          {
            "node": "Telegram answerCallbackQuery (snooze)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "active": false,
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "alerts"
    },
    {
      "name": "callback"
    }
  ]
}
