ops/n8n-workflows/106-alert-sentry-warn-cron.json
{
  "name": "106 — Alert Sentry-Warn Cron (T3 @ 120min unacked → server-side Sentry.captureMessage warning)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "cron-15min",
      "name": "Cron */15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"olderThanMinutes\": 120,\n  \"notYetSentryWarned\": true,\n  \"notSnoozed\": true,\n  \"limit\": 50\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "fetch-pending",
      "name": "POST /api/internal/alerts/pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Split the /alerts/pending response so the next POST runs once per\n// alert. Server already filtered by `olderThanMinutes=120`,\n// `notYetSentryWarned=true`, `notSnoozed=true`. Sentry-warn fires for\n// ALL severities — рассуждение: alerts ще unacked через 2 години — це\n// off-channel signal, що founder/operator не у каналі (відпустка,\n// outage, паніка). Sentry дашборд + email алерт — більш надійний\n// fallback ніж Telegram, який вже двічі не достукався (T1 DM 15min +\n// T2 repeat 60min).\nconst body = $input.first()?.json ?? {};\nconst alerts = Array.isArray(body.alerts) ? body.alerts : [];\nreturn alerts.map((a) => ({ json: a }));"
      },
      "id": "split-alerts",
      "name": "Split alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/sentry-warn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alert_id }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-sentry-warn",
      "name": "POST /api/internal/alerts/sentry-warn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron */15min": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/pending": {
      "main": [
        [
          {
            "node": "Split alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split alerts": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/sentry-warn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "active": false,
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "alerts"
    },
    {
      "name": "experimental"
    }
  ]
}
