ops/n8n-workflows/15-railway-deployment-notify.json
{
  "name": "15 — Railway Deployment Notify (webhook → Telegram #deploys)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "railway-deploy",
        "options": {}
      },
      "id": "railway-webhook",
      "name": "Railway Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// WF-15 §3.4 fix (Wave 1): switched parse_mode from \"Markdown\" → \"HTML\"\n// because legacy Markdown has no backslash-escape and broke whenever a\n// commit message contained `*`, `_`, `` ` ``, or `[` (e.g. \"applyFizruk*\").\n// HTML only needs `&<>` escaped, which is trivial and bullet-proof.\n//\n// PR-16 (pr-plan-2026-05): added `terminal` boolean so the downstream IF\n// node drops transient states (BUILDING / DEPLOYING / QUEUED /\n// INITIALIZING / REMOVING / WAITING / CANCELLED / SKIPPED). Telegram\n// тільки terminal-стани: SUCCESS / DEPLOYED / ACTIVE → ✅; FAILED /\n// CRASHED → ❌. До цього кожен intermediate-статус слав\n// false-positive «Deploy Failed», бо `ok` був true тільки для\n// `[SUCCESS, DEPLOYED, ACTIVE]`, а решта (включно з BUILDING) показувалась\n// як failure.\nfunction htmlEscape(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\nconst SUCCESS_TERMINAL = new Set(['SUCCESS', 'DEPLOYED', 'ACTIVE']);\nconst FAILED_TERMINAL = new Set(['FAILED', 'CRASHED']);\nconst root = $input.first().json;\nconst body = root.body ?? root;\nconst details = body.details ?? {};\nconst resource = body.resource ?? {};\nconst status = (details.status ?? body.status ?? body.type ?? 'UNKNOWN').toString();\nconst statusUpper = status.toUpperCase();\nconst service = resource.service?.name ?? body.service?.name ?? body.serviceName ?? '—';\nconst env = resource.environment?.name ?? body.environment?.name ?? body.environmentName ?? '—';\nconst branch = details.branch ?? body.deployment?.meta?.branch ?? body.branch ?? '—';\nconst commitMsg = (details.commitMessage ?? body.deployment?.meta?.commitMessage ?? body.commitMessage ?? '—').split('\\n')[0];\nconst commitHash = (details.commitHash ?? body.deployment?.meta?.commitHash ?? body.commitHash ?? '').slice(0, 7);\nconst url = body.deployment?.url ?? body.deploymentUrl ?? '';\nconst duration = body.buildDuration ? `${Math.round(body.buildDuration / 1000)}s` : '—';\nconst ok = SUCCESS_TERMINAL.has(statusUpper);\nconst failed = FAILED_TERMINAL.has(statusUpper);\nconst terminal = ok || failed;\nreturn [{ json: {\n  status, service, env, branch, commitMsg, commitHash, url, duration, ok, failed, terminal,\n  type: body.type ?? null,\n  // _html-escaped variants for direct interpolation into the Telegram\n  // node text — keep raw values around for downstream branches that may\n  // want them un-escaped (alerts, future rich cards).\n  serviceHtml: htmlEscape(service),\n  envHtml: htmlEscape(env),\n  branchHtml: htmlEscape(branch),\n  commitMsgHtml: htmlEscape(commitMsg),\n  commitHashHtml: htmlEscape(commitHash),\n  durationHtml: htmlEscape(duration),\n  urlHtml: htmlEscape(url),\n} }];"
      },
      "id": "parse-payload",
      "name": "Parse Railway payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-terminal",
              "leftValue": "={{ $json.terminal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "is-terminal",
      "name": "Is terminal status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that builds a stable\n// `alertId` so n8n retries no-op via ON CONFLICT DO NOTHING.\n// Topic is dynamic: success → ops/P2, failure → incidents/P1.\nconst parsed = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'wf15'}:${$execution.id || 'unknown'}:railway-${parsed.branch || 'unknown'}-${parsed.commitHash || 'unknown'}`;\nconst topic = parsed.ok ? 'ops' : 'incidents';\nconst severity = parsed.ok ? 'P2' : 'P1';\nconst summary = parsed.ok\n  ? `Railway deploy OK — ${parsed.service || '?'} (${parsed.env || '?'}) @ ${parsed.commitHash || '?'}`\n  : `Railway deploy FAILED — ${parsed.service || '?'} (${parsed.env || '?'}) @ ${parsed.commitHash || '?'}`;\nreturn [{\n  json: {\n    ...parsed,\n    alertId,\n    topic,\n    severity,\n    alertSummary: summary,\n    alertMetadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      service: parsed.service ?? null,\n      env: parsed.env ?? null,\n      branch: parsed.branch ?? null,\n      commitHash: parsed.commitHash ?? null,\n      ok: Boolean(parsed.ok),\n      status: parsed.status ?? null,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-15",
      "name": "Build alert payload (railway-deploy)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"{{ $json.topic }}\",\n  \"severity\": \"{{ $json.severity }}\",\n  \"summary\": \"{{ $json.alertSummary }}\",\n  \"metadata\": {{ JSON.stringify($json.alertMetadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-15",
      "name": "POST /api/internal/alerts/post (railway-deploy)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "={{ $json.ok ? '✅' : '❌' }} <b>Railway Deploy {{ $json.ok ? 'Success' : 'Failed' }}</b>\n\n🔧 Service: <code>{{ $json.serviceHtml }}</code> ({{ $json.envHtml }})\n🌿 Branch: <code>{{ $json.branchHtml }}</code>\n📝 <code>{{ $json.commitHashHtml }}</code> — {{ $json.commitMsgHtml }}\n⏱ Duration: {{ $json.durationHtml }}\n{{ $json.urlHtml ? '🔗 ' + $json.urlHtml : '' }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "message_thread_id": "={{ $json.ok ? $env.TELEGRAM_TOPIC_OPS : $env.TELEGRAM_TOPIC_INCIDENTS }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (railway-deploy)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (railway-deploy)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (railway-deploy)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-deploy",
      "name": "Telegram → #deploys",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, 300],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/webhook-events/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflowId\": \"15-railway-deployment-notify\",\n  \"source\": \"railway\",\n  \"payload\": {{ JSON.stringify($json.body || $json) }},\n  \"headers\": {{ JSON.stringify($json.headers || {}) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "record-webhook-event-15",
      "name": "Record webhook event (n8n_webhook_events)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Railway Webhook": {
      "main": [
        [
          {
            "node": "Record webhook event (n8n_webhook_events)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Railway payload": {
      "main": [
        [
          {
            "node": "Is terminal status?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is terminal status?": {
      "main": [
        [
          {
            "node": "Build alert payload (railway-deploy)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build alert payload (railway-deploy)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (railway-deploy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (railway-deploy)": {
      "main": [
        [
          {
            "node": "Telegram → #deploys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record webhook event (n8n_webhook_events)": {
      "main": [
        [
          {
            "node": "Parse Railway payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "railway"
    },
    {
      "name": "deploy"
    }
  ],
  "active": false
}
