ops/n8n-workflows/17-github-pr-stale-alert.json
{
  "name": "17 — GitHub PR Stale Alert (10:00 Kyiv → Telegram if PRs > 48h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-weekday",
      "name": "Cron 10:00 Mon–Fri",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/skords-01/sergeant/pulls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_PAT }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "open"
            },
            {
              "name": "per_page",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "github-prs",
      "name": "GitHub → open PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const prs = $input.all().flatMap(item => Array.isArray(item.json) ? item.json : [item.json]);\nconst now = Date.now();\nconst stale = prs.filter(pr => {\n  if (pr.draft) return false;\n  const age = now - new Date(pr.created_at).getTime();\n  return age > 48 * 60 * 60 * 1000; // 48 hours\n});\nif (!stale.length) return [{ json: { hasStale: false, text: '' } }];\nconst lines = stale.map(pr => {\n  const hours = Math.round((now - new Date(pr.created_at).getTime()) / 3600000);\n  return `• [#${pr.number}](${pr.html_url}) _${pr.title}_ — ${hours}h`;\n}).join('\\n');\nreturn [{ json: { hasStale: true, count: stale.length, text: lines } }];"
      },
      "id": "filter-stale",
      "name": "Filter stale PRs (>48h)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-stale",
              "leftValue": "={{ $json.hasStale }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "has-stale",
      "name": "Has stale PRs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` so n8n retries no-op via\n//      ON CONFLICT DO NOTHING server-side.\n//   2. Carries forward the upstream item as `summary` so that the\n//      Telegram text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post\n// (idempotency) and the downstream Telegram node (text +\n// reply_markup callback_data).\nconst item = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'unknown'}:${$execution.id || 'unknown'}:stale-pr`;\nconst summary = `Stale PRs (>48h) detected — count=${Number(item.count) || (Array.isArray(item.prs) ? item.prs.length : 0)}`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    upstream: item,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      count: Number(item.count) || (Array.isArray(item.prs) ? item.prs.length : 0),\n      thresholdHours: 48,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-stale-pr",
      "name": "Build alert payload (stale-pr)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"engineering\",\n  \"severity\": \"P2\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-stale-pr",
      "name": "POST /api/internal/alerts/post (stale-pr)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=⏰ *Stale PRs (>48h без активності)*\n\n{{ $json.text }}\n\n_{{ $json.count }} PR(и) потребують уваги_",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_ENGINEERING }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (stale-pr)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (stale-pr)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (stale-pr)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-stale",
      "name": "Telegram → stale PRs",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 200],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "Cron 10:00 Mon–Fri": {
      "main": [
        [
          {
            "node": "GitHub → open PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub → open PRs": {
      "main": [
        [
          {
            "node": "Filter stale PRs (>48h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter stale PRs (>48h)": {
      "main": [
        [
          {
            "node": "Has stale PRs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has stale PRs?": {
      "main": [
        [
          {
            "node": "Build alert payload (stale-pr)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build alert payload (stale-pr)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (stale-pr)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (stale-pr)": {
      "main": [
        [
          {
            "node": "Telegram → stale PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "github"
    },
    {
      "name": "ci"
    }
  ],
  "active": false
}
