ops/n8n-workflows/18-nightly-security-audit.json
{
  "name": "18 — Nightly Security Audit Summary (04:00 UTC → Telegram if failures)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "cron-4am-utc",
      "name": "Cron 04:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/skords-01/sergeant/actions/runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_PAT }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "workflow_file",
              "value": "nightly-audit.yml"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "github-runs",
      "name": "GitHub → nightly-audit runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst runs = data?.workflow_runs ?? [];\nconst latest = runs[0];\nif (!latest) return [{ json: { hasFailed: false } }];\nconst failed = ['failure', 'cancelled'].includes(latest.conclusion);\nconst runUrl = latest.html_url ?? '';\nconst status = latest.conclusion ?? latest.status;\nconst createdAt = new Date(latest.created_at).toLocaleString('uk-UA', { timeZone: 'Europe/Kyiv' });\nreturn [{ json: { hasFailed: failed, status, runUrl, createdAt } }];"
      },
      "id": "check-status",
      "name": "Check audit status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "audit-failed",
              "leftValue": "={{ $json.hasFailed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "audit-failed",
      "name": "Audit failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` so n8n retries no-op via\n//      ON CONFLICT DO NOTHING server-side.\n//   2. Carries forward the upstream item as `summary` so that the\n//      Telegram text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post\n// (idempotency) and the downstream Telegram node (text +\n// reply_markup callback_data).\nconst item = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'unknown'}:${$execution.id || 'unknown'}:audit`;\nconst summary = `Nightly security audit FAILED — status=${item.status ?? 'unknown'}, runUrl=${item.runUrl ?? 'n/a'}`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    upstream: item,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      status: item.status ?? null,\n      runUrl: item.runUrl ?? null,\n      createdAt: item.createdAt ?? null,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-audit",
      "name": "Build alert payload (audit)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"incidents\",\n  \"severity\": \"P1\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-audit",
      "name": "POST /api/internal/alerts/post (audit)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=🔐 *Nightly Security Audit — {{ $json.status.toUpperCase() }}*\n\n⚠️ Перевір звіт — можливі CVE або вразливості!\n\n📋 Запуск: {{ $json.createdAt }}\n🔗 [GitHub Actions →]({{ $json.runUrl }})",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_INCIDENTS }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (audit)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (audit)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (audit)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-audit",
      "name": "Telegram → #incidents",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 200],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "Cron 04:00 UTC": {
      "main": [
        [
          {
            "node": "GitHub → nightly-audit runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub → nightly-audit runs": {
      "main": [
        [
          {
            "node": "Check audit status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check audit status": {
      "main": [
        [
          {
            "node": "Audit failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit failed?": {
      "main": [
        [
          {
            "node": "Build alert payload (audit)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build alert payload (audit)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (audit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (audit)": {
      "main": [
        [
          {
            "node": "Telegram → #incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "security"
    },
    {
      "name": "github"
    }
  ],
  "active": false
}
