ops/n8n-workflows/19-db-health-report.json
{
  "name": "19 — DB Health Report (Mon 07:00 Kyiv → Telegram #ops)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "cron-monday",
      "name": "Cron Mon 07:00 Kyiv",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  'db_info' AS kind,\n  pg_size_pretty(pg_database_size(current_database())) AS db_size,\n  current_database() AS db_name,\n  (SELECT COUNT(*) FROM mono_transaction) AS tx_count,\n  (SELECT COUNT(*) FROM push_subscriptions WHERE deleted_at IS NULL) AS active_push_subs,\n  (SELECT COUNT(*) FROM \"user\") AS user_count",
        "options": {}
      },
      "id": "query-db-size",
      "name": "DB size & counts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 180],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  'table' AS kind,\n  relname AS table_name,\n  pg_size_pretty(pg_total_relation_size(relid)) AS total_size,\n  n_live_tup AS row_count\nFROM pg_stat_user_tables\nORDER BY pg_total_relation_size(relid) DESC\nLIMIT 5",
        "options": {}
      },
      "id": "query-top-tables",
      "name": "Top 5 tables by size",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 360],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  'slow_query' AS kind,\n  calls,\n  ROUND(mean_exec_time::numeric, 1) AS avg_ms,\n  LEFT(query, 80) AS query_preview\nFROM pg_stat_statements\nWHERE query NOT LIKE '%pg_stat%'\nORDER BY mean_exec_time DESC\nLIMIT 3",
        "options": {}
      },
      "id": "query-slow",
      "name": "Slow queries (pg_stat_statements)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 540],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "merge-results",
      "name": "Merge query results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 360]
    },
    {
      "parameters": {
        "jsCode": "// Format DB report from merged $input.all() — no cross-node refs.\n// Each upstream Postgres query tags its rows with `kind`, so we filter\n// by kind here. `onError: continueRegularOutput` on each Postgres means\n// a missing extension or permission error becomes an empty stream, not\n// a workflow-level failure.\nconst items = $input.all().map(i => i.json);\n\nconst dbInfo = items.find(r => r && r.kind === 'db_info') ?? {};\nconst tables = items.filter(r => r && r.kind === 'table');\nconst slow = items.filter(r => r && r.kind === 'slow_query');\n\nconst tableLines = tables.map(t =>\n  `  \\`${t.table_name}\\` — ${t.total_size} (${Number(t.row_count).toLocaleString()} rows)`\n).join('\\n') || '  —';\n\nconst slowLines = slow.length\n  ? slow.map(q => `  ${q.avg_ms}ms (×${q.calls}) \\`${q.query_preview}\\``).join('\\n')\n  : '  pg\\\\_stat\\\\_statements не встановлено або немає даних';\n\nconst text = [\n  `🗄 *DB: ${dbInfo.db_name ?? 'unknown'}*`,\n  `📦 Розмір: \\`${dbInfo.db_size ?? 'unknown'}\\``,\n  `👥 Користувачів: ${dbInfo.user_count ?? '—'}`,\n  `💳 Транзакцій Mono: ${dbInfo.tx_count != null ? Number(dbInfo.tx_count).toLocaleString() : '—'}`,\n  `🔔 Push-підписок: ${dbInfo.active_push_subs ?? '—'}`,\n  ``,\n  `📋 *Топ таблиці:*`,\n  tableLines,\n  ``,\n  `🐢 *Повільні запити:*`,\n  slowLines,\n].join('\\n');\n\nreturn [{ json: { text } }];"
      },
      "id": "format-report",
      "name": "Format DB report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 360]
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that:\n//   1. Builds a stable `alertId` so n8n retries no-op via\n//      ON CONFLICT DO NOTHING server-side.\n//   2. Carries forward the upstream item as `summary` so that the\n//      Telegram text + ack-row are computed from a single source.\n// Output is consumed by both POST /api/internal/alerts/post\n// (idempotency) and the downstream Telegram node (text +\n// reply_markup callback_data).\nconst item = $input.first()?.json ?? {};\nconst alertId = `${$workflow.id || 'unknown'}:${$execution.id || 'unknown'}:db-health`;\nconst summary = `DB health weekly digest — db=${$('DB size & counts').first()?.json?.db_name ?? 'unknown'}, size=${$('DB size & counts').first()?.json?.db_size ?? 'unknown'}`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    upstream: item,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      dbName: $('DB size & counts').first()?.json?.db_name ?? null,\n      dbSize: $('DB size & counts').first()?.json?.db_size ?? null,\n      userCount: Number($('DB size & counts').first()?.json?.user_count) || null,\n      txCount: Number($('DB size & counts').first()?.json?.tx_count) || null,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-db-health",
      "name": "Build alert payload (db-health)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"ops\",\n  \"severity\": \"P1\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-db-health",
      "name": "POST /api/internal/alerts/post (db-health)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 360],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_OPS }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (db-health)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (db-health)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (db-health)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-db",
      "name": "Telegram → #ops",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 360],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "Cron Mon 07:00 Kyiv": {
      "main": [
        [
          {
            "node": "DB size & counts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top 5 tables by size",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slow queries (pg_stat_statements)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB size & counts": {
      "main": [
        [
          {
            "node": "Merge query results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 tables by size": {
      "main": [
        [
          {
            "node": "Merge query results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Slow queries (pg_stat_statements)": {
      "main": [
        [
          {
            "node": "Merge query results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge query results": {
      "main": [
        [
          {
            "node": "Format DB report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB report": {
      "main": [
        [
          {
            "node": "Build alert payload (db-health)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build alert payload (db-health)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (db-health)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (db-health)": {
      "main": [
        [
          {
            "node": "Telegram → #ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "db"
    },
    {
      "name": "ops"
    }
  ],
  "active": false
}
