ops/n8n-workflows/19-db-health-report.json
{
  "name": "19 вАФ DB Health Report (Mon 07:00 Kyiv вЖТ Telegram #ops)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "cron-monday",
      "name": "Cron Mon 07:00 Kyiv",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  pg_size_pretty(pg_database_size(current_database())) AS db_size,\n  current_database() AS db_name,\n  (SELECT COUNT(*) FROM mono_transaction) AS tx_count,\n  (SELECT COUNT(*) FROM push_subscriptions WHERE deleted_at IS NULL) AS active_push_subs,\n  (SELECT COUNT(*) FROM \"user\") AS user_count",
        "options": {}
      },
      "id": "query-db-size",
      "name": "DB size & counts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 200],
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  relname AS table_name,\n  pg_size_pretty(pg_total_relation_size(relid)) AS total_size,\n  n_live_tup AS row_count\nFROM pg_stat_user_tables\nORDER BY pg_total_relation_size(relid) DESC\nLIMIT 5",
        "options": {}
      },
      "id": "query-top-tables",
      "name": "Top 5 tables by size",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 380],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  calls,\n  ROUND(mean_exec_time::numeric, 1) AS avg_ms,\n  LEFT(query, 80) AS query_preview\nFROM pg_stat_statements\nWHERE query NOT LIKE '%pg_stat%'\nORDER BY mean_exec_time DESC\nLIMIT 3",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "query-slow",
      "name": "Slow queries (pg_stat_statements)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 560],
      "executeOnce": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Defensive cross-node access. n8n throws when referencing a node that\n// hasn't been executed (e.g. upstream Postgres step returned 0 items, or\n// `executeOnce`+`continueOnFail` left it without an output run). Wrap each\n// $() access so the report still goes out with partial data.\nfunction safeFirst(node) {\n  try { return $(node).first()?.json ?? {}; } catch { return {}; }\n}\nfunction safeAll(node) {\n  try { return $(node).all().map(i => i.json); } catch { return []; }\n}\n\nconst dbInfo = safeFirst('DB size & counts');\nconst tables = safeAll('Top 5 tables by size');\nconst slow = safeAll('Slow queries (pg_stat_statements)').filter(r => !r.error);\n\nconst tableLines = tables.map(t =>\n  `  \\`${t.table_name}\\` вАФ ${t.total_size} (${Number(t.row_count).toLocaleString()} rows)`\n).join('\\n') || '  вАФ';\n\nconst slowLines = slow.length\n  ? slow.map(q => `  ${q.avg_ms}ms (√Ч${q.calls}) \\`${q.query_preview}\\``).join('\\n')\n  : '  pg\\_stat\\_statements –љ–µ –≤—Б—В–∞–љ–Њ–≤–ї–µ–љ–Њ –∞–±–Њ –љ–µ–Љ–∞—Ф –і–∞–љ–Є—Е';\n\nconst text = [\n  `рЯЧД *DB: ${dbInfo.db_name ?? 'unknown'}*`,\n  `рЯУ¶ –†–Њ–Ј–Љ—Ц—А: \\`${dbInfo.db_size ?? 'unknown'}\\``,\n  `рЯС• –Ъ–Њ—А–Є—Б—В—Г–≤–∞—З—Ц–≤: ${dbInfo.user_count ?? 'вАФ'}`,\n  `рЯТ≥ –Ґ—А–∞–љ–Ј–∞–Ї—Ж—Ц–є Mono: ${dbInfo.tx_count != null ? Number(dbInfo.tx_count).toLocaleString() : 'вАФ'}`,\n  `рЯФФ Push-–њ—Ц–і–њ–Є—Б–Њ–Ї: ${dbInfo.active_push_subs ?? 'вАФ'}`,\n  ``,\n  `рЯУЛ *–Ґ–Њ–њ —В–∞–±–ї–Є—Ж—Ц:*`,\n  tableLines,\n  ``,\n  `рЯРҐ *–Я–Њ–≤—Ц–ї—М–љ—Ц –Ј–∞–њ–Є—В–Є:*`,\n  slowLines,\n].join('\\n');\n\nreturn [{ json: { text } }];"
      },
      "id": "format-report",
      "name": "Format DB report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380],
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-db",
      "name": "Telegram вЖТ #ops",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 380],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "Cron Mon 07:00 Kyiv": {
      "main": [
        [
          {
            "node": "DB size & counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB size & counts": {
      "main": [
        [
          {
            "node": "Top 5 tables by size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 tables by size": {
      "main": [
        [
          {
            "node": "Slow queries (pg_stat_statements)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slow queries (pg_stat_statements)": {
      "main": [
        [
          {
            "node": "Format DB report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB report": {
      "main": [
        [
          {
            "node": "Telegram вЖТ #ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "db"
    },
    {
      "name": "ops"
    }
  ],
  "active": false
}
