ops/n8n-workflows/20-agent-dispatcher.json
{
  "name": "20 - Telegram Agent Dispatcher (Console -> n8n -> specialist route)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-dispatcher",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "telegram-command-webhook",
      "name": "Telegram command webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst allowedSources = new Set(['telegram-console', 'openclaw']);\nconst allowedSpecialists = new Set(['product-roadmap', 'repo-architect', 'web-ui', 'server-api', 'data-migrations', 'mobile', 'hubchat-ai', 'n8n-automation', 'growth-marketing', 'qa-release', 'security']);\nconst allowedRiskTiers = new Set(['P0', 'P1', 'P2']);\nconst taskId = String(body.taskId ?? `agent-${Date.now()}`);\nconst source = String(body.source ?? 'telegram-console');\nconst action = String(body.action ?? 'plan');\nconst specialist = String(body.specialist ?? 'repo-architect');\nconst riskTier = String(body.riskTier ?? 'P2');\nconst mode = String(body.mode ?? 'read-only');\nconst commandText = String(body.commandText ?? body.intent?.rawText ?? '');\nconst requiresApproval = Boolean(body.requiresApproval);\nconst approvalId = body.approvalId ? String(body.approvalId) : undefined;\nconst statusCallback = body.statusCallback ?? null;\nconst artifacts = Array.isArray(body.artifacts) ? body.artifacts : [];\n\nfunction reject(reason, nextStep) {\n  return [{ json: { taskId, status: 'rejected', reason, source, action, specialist, riskTier, mode, commandText, requiresApproval, nextStep } }];\n}\n\nif (!allowedSources.has(source)) return reject('unknown_source', 'Send source=\"telegram-console\" or source=\"openclaw\".');\nif (!allowedSpecialists.has(specialist)) return reject('unknown_specialist', 'Route to one of the registered specialist lanes.');\nif (!allowedRiskTiers.has(riskTier)) return reject('unknown_risk_tier', 'Use riskTier P0, P1, or P2.');\nif (mode !== 'read-only' && mode !== 'mutation') return reject('unknown_mode', 'Use mode=\"read-only\" or mode=\"mutation\".');\nif (requiresApproval && action !== 'approve' && !approvalId) {\n  return [{ json: { taskId, status: 'approval_required', source, action, specialist, riskTier, mode, commandText, requiresApproval, statusCallback, nextStep: `Founder approval required before routing ${action} to ${specialist}.` } }];\n}\n\nconst normalized = commandText.toLowerCase();\nlet proposedWriteTool = null;\nif (normalized.includes('issue')) proposedWriteTool = 'create_github_issue';\nelse if (normalized.includes('strategy') || normalized.includes('стратег')) proposedWriteTool = 'commit_to_strategy_doc';\nelse if (normalized.includes('post') || normalized.includes('topic')) proposedWriteTool = 'post_to_topic';\nelse if (normalized.includes('pause') || normalized.includes('deactivate') || normalized.includes('workflow')) proposedWriteTool = 'pause_workflow';\nelse if (normalized.includes('mute') || normalized.includes('sentry')) proposedWriteTool = 'mute_alert';\n\nreturn [{ json: { taskId, status: 'accepted', source, action, specialist, riskTier, mode, commandText, requiresApproval, approvalId, statusCallback, artifacts, lane: { name: specialist, type: 'specialist-agent', execution: 'report-only-v1' }, proposedWriteTool, nextStep: `Task ${taskId} assigned to ${specialist}.` } }];"
      },
      "id": "classify-agent-task",
      "name": "Classify agent task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-console",
      "name": "Respond to console",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Telegram command webhook": {
      "main": [
        [
          {
            "node": "Classify agent task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify agent task": {
      "main": [
        [
          {
            "node": "Respond to console",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "agents"
    },
    {
      "name": "telegram"
    }
  ],
  "active": false
}
