ops/n8n-workflows/25-morning-briefing-cron.json
{
  "name": "25 — Morning Briefing Cron (07:00 Kyiv → founder DM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-morning-briefing",
      "name": "Cron 07:00 Kyiv",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/openclaw/briefing/morning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "fetch-briefing",
      "name": "POST /api/internal/openclaw/briefing/morning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse briefing response {markdown, data}. PR-26 endpoint завжди\n// повертає 200 з graceful-degrade на missing env (sections рендеряться\n// з 'notConfigured' hint-ами). Тому ми трактуємо тільки відсутність\n// `markdown` як hard-failure.\nconst body = $input.first()?.json ?? {};\nconst markdown = typeof body.markdown === 'string' ? body.markdown : '';\nconst data = body.data ?? null;\n\nconst hadError = !markdown;\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toLocaleDateString('uk-UA', {\n  day: 'numeric',\n  month: 'long',\n  timeZone: 'Europe/Kyiv',\n});\n\n// Fallback повідомлення на випадок, якщо endpoint повернув 5xx або\n// інший пустий payload (PR-26 endpoint це сам обробляє graceful, але\n// тримаємо safety-net на випадок мережевих помилок між n8n і API).\nconst fallback = `⚠️ *Morning briefing — ${dateStr}*\\n\\n_API endpoint повернув порожню відповідь. Перевір POST /api/internal/openclaw/briefing/morning + INTERNAL_API_KEY._`;\n\nconst text = hadError ? fallback : markdown;\n\nreturn [{ json: { text, markdown, data, hadError, dateStr } }];"
      },
      "id": "parse-briefing",
      "name": "Parse briefing response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/webhook-events/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflowId\": \"25-morning-briefing-cron\",\n  \"source\": \"cron\",\n  \"payload\": {{ JSON.stringify({ markdown: $json.markdown, data: $json.data, hadError: $json.hadError, dateStr: $json.dateStr }) }},\n  \"headers\": {\n    \"x-n8n-execution-id\": \"{{ $execution.id }}\",\n    \"x-n8n-workflow-id\": \"25-morning-briefing-cron\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "record-exec",
      "name": "Record exec result (n8n_webhook_events)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.OPENCLAW_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.OPENCLAW_FOUNDER_TG_USER_ID }}\",\n  \"text\": {{ JSON.stringify($('Parse briefing response').item.json.text) }},\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": true\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "dm-founder",
      "name": "DM founder via @OpenClaw_sergeant_bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron 07:00 Kyiv": {
      "main": [
        [
          {
            "node": "POST /api/internal/openclaw/briefing/morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/openclaw/briefing/morning": {
      "main": [
        [
          {
            "node": "Parse briefing response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse briefing response": {
      "main": [
        [
          {
            "node": "Record exec result (n8n_webhook_events)",
            "type": "main",
            "index": 0
          },
          {
            "node": "DM founder via @OpenClaw_sergeant_bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "openclaw"
    },
    {
      "name": "morning-briefing"
    },
    {
      "name": "cron"
    }
  ],
  "active": false
}
