ops/n8n-workflows/26-strategic-weekly.json
{
  "name": "26 — Strategic Weekly Checkin (Mon 09:00 Kyiv → per-persona POST /api/internal/strategic/weekly-checkin)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "cron-mon-09-kyiv",
      "name": "Cron Mon 09:00 Kyiv",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "PR-34 strategic mode skeleton. Cron expression `0 9 * * 1` (= щопонеділка 09:00) інтерпретується у Kyiv local TZ — налаштовується на n8n Railway через GENERIC_TIMEZONE=Europe/Kyiv (це default по проекту). Якщо TZ змінюється на UTC — фактичний trigger змістився б на 12:00 Kyiv влітку, 11:00 взимку."
    },
    {
      "parameters": {
        "jsCode": "// Compute the canonical week_start (Monday of current ISO week, Kyiv local)\n// + iterate over 4 personas. n8n schedule-trigger fires on Monday 09:00\n// already; we still derive the date defensively (and so the same workflow\n// can be re-fired manually any weekday for backfill).\n//\n// PR-34 skeleton: один founder_user_id, переданий через env STRATEGIC_FOUNDER_USER_ID.\n// PR-35+: розширюємо на multiple founders через DB-query.\n\nconst PERSONAS = ['finyk', 'fizruk', 'nutrition', 'routine'];\nconst founderUserId = $env.STRATEGIC_FOUNDER_USER_ID || '';\n\n// Kyiv-local Monday: find the most recent Monday-or-today у Kyiv TZ.\nconst nowKyiv = new Date(new Date().toLocaleString('en-US', { timeZone: 'Europe/Kyiv' }));\nconst dow = nowKyiv.getDay(); // 0=Sun, 1=Mon, ..., 6=Sat\nconst daysSinceMonday = (dow + 6) % 7; // Mon=0, Tue=1, ..., Sun=6\nconst monday = new Date(nowKyiv);\nmonday.setDate(monday.getDate() - daysSinceMonday);\nconst weekStart = monday.toISOString().slice(0, 10);\n\nreturn PERSONAS.map((persona) => ({ json: { persona, founderUserId, weekStart } }));"
      },
      "id": "fanout-personas",
      "name": "Fan-out personas (weekStart)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL }}/api/internal/strategic/weekly-checkin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"persona\": \"{{ $json.persona }}\",\n  \"founderUserId\": \"{{ $json.founderUserId }}\",\n  \"weekStart\": \"{{ $json.weekStart }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "post-weekly-checkin",
      "name": "POST /api/internal/strategic/weekly-checkin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "PR-34: each persona gets a placeholder goal row. Server fail-open: returns ok:false без 5xx, тож n8n не падає в alert-cascade на тимчасову DB-недоступність."
    }
  ],
  "connections": {
    "Cron Mon 09:00 Kyiv": {
      "main": [
        [
          {
            "node": "Fan-out personas (weekStart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fan-out personas (weekStart)": {
      "main": [
        [
          {
            "node": "POST /api/internal/strategic/weekly-checkin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "versionId": "",
  "triggerCount": 1,
  "tags": []
}
