ops/n8n-workflows/27-monthly-okr-cron.json
{
  "name": "27 — Monthly OKR Cron (1st 09:00 Kyiv → founder DM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "cron-monthly-okr",
      "name": "Cron 09:00 Kyiv (1st of month)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/openclaw/ritual/monthly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "fetch-monthly",
      "name": "POST /api/internal/openclaw/ritual/monthly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse monthly OKR response {markdown, data}. O3 endpoint завжди\n// повертає 200 з graceful-degrade на missing env (sections рендеряться\n// з 'notConfigured' hint-ами). Тому ми трактуємо тільки відсутність\n// `markdown` як hard-failure.\nconst body = $input.first()?.json ?? {};\nconst markdown = typeof body.markdown === 'string' ? body.markdown : '';\nconst data = body.data ?? null;\n\nconst hadError = !markdown;\n// Reporting month — previous calendar month (cron is 1st of new month).\nconst now = new Date();\nconst lastMonth = new Date(now.getFullYear(), now.getMonth() - 1, 15);\nconst monthStr = lastMonth.toLocaleDateString('uk-UA', {\n  month: 'long',\n  year: 'numeric',\n  timeZone: 'Europe/Kyiv',\n});\n\nconst fallback = `⚠️ *Місячний OKR-ритуал — ${monthStr}*\\n\\n_API endpoint повернув порожню відповідь. Перевір POST /api/internal/openclaw/ritual/monthly + INTERNAL_API_KEY._`;\n\nconst text = hadError ? fallback : markdown;\n\nreturn [{ json: { text, markdown, data, hadError, monthStr } }];"
      },
      "id": "parse-monthly",
      "name": "Parse monthly response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/webhook-events/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflowId\": \"27-monthly-okr-cron\",\n  \"source\": \"cron\",\n  \"payload\": {{ JSON.stringify({ markdown: $json.markdown, data: $json.data, hadError: $json.hadError, monthStr: $json.monthStr }) }},\n  \"headers\": {\n    \"x-n8n-execution-id\": \"{{ $execution.id }}\",\n    \"x-n8n-workflow-id\": \"27-monthly-okr-cron\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "record-exec",
      "name": "Record exec result (n8n_webhook_events)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.OPENCLAW_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.OPENCLAW_FOUNDER_TG_USER_ID }}\",\n  \"text\": {{ JSON.stringify($('Parse monthly response').item.json.text) }},\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": true\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "dm-founder",
      "name": "DM founder via @OpenClaw_sergeant_bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron 09:00 Kyiv (1st of month)": {
      "main": [
        [
          {
            "node": "POST /api/internal/openclaw/ritual/monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/openclaw/ritual/monthly": {
      "main": [
        [
          {
            "node": "Parse monthly response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse monthly response": {
      "main": [
        [
          {
            "node": "Record exec result (n8n_webhook_events)",
            "type": "main",
            "index": 0
          },
          {
            "node": "DM founder via @OpenClaw_sergeant_bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "openclaw"
    },
    {
      "name": "monthly-okr"
    },
    {
      "name": "cron"
    }
  ],
  "active": false
}
