ops/n8n-workflows/60-growth-funnel-snapshot.json
{
  "name": "60 — Growth Funnel Snapshot (02:30 Kyiv → POST /api/internal/growth/funnel)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 2 * * *"
            }
          ]
        }
      },
      "id": "cron-funnel",
      "name": "Cron 02:30 Kyiv",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.POSTHOG_HOST || 'https://eu.i.posthog.com' }}/api/projects/{{ $env.POSTHOG_PROJECT_ID }}/query/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.POSTHOG_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"kind\": \"HogQLQuery\",\n    \"query\": \"SELECT count(DISTINCT if(event = '$pageview', distinct_id, NULL)) AS visit, count(DISTINCT if(event = 'signup_completed', distinct_id, NULL)) AS signup, count(DISTINCT if(event = 'onboarding_completed', distinct_id, NULL)) AS onboard, count(DISTINCT if(event = 'first_action_completed', distinct_id, NULL)) AS first_action, count(DISTINCT if(event = 'subscription_started', distinct_id, NULL)) AS paid FROM events WHERE timestamp >= toStartOfDay(now() - INTERVAL 1 DAY) AND timestamp < toStartOfDay(now())\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "posthog-funnel",
      "name": "PostHog → funnel HogQL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse PostHog HogQL response and build funnel rows for /api/internal/growth/funnel.\n// Expected response shape: { results: [[visit, signup, onboard, first_action, paid]], columns: [...] }\n// On auth/config errors fall back gracefully so we still get a Telegram alert.\nconst body = $input.first()?.json ?? {};\nlet errorMsg = '';\nlet visit = 0;\nlet signup = 0;\nlet onboard = 0;\nlet firstAction = 0;\nlet paid = 0;\n\nconst row = body?.results?.[0];\nif (Array.isArray(row) && row.length >= 5) {\n  [visit, signup, onboard, firstAction, paid] = [0, 1, 2, 3, 4].map(\n    (i) => Number(row[i]) || 0,\n  );\n} else if (body?.detail || body?.code || body?.type) {\n  errorMsg = `${body.code || body.type || 'error'}: ${body.detail || 'unknown'}`;\n}\n\n// snapshotDate = вчора у Kyiv-tz (стабільно навколо опівночі).\nconst fmt = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Kyiv',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n});\nconst yesterday = new Date(Date.now() - 24 * 60 * 60 * 1000);\nconst snapshotDate = fmt.format(yesterday);\n\nfunction conv(numerator, denominator) {\n  if (!denominator || denominator <= 0) return null;\n  return Math.round((numerator / denominator) * 10000) / 10000;\n}\n\nconst rows = [\n  { step: 'visit', stepOrder: 1, segment: 'all', count: visit, conversionRate: null },\n  { step: 'signup', stepOrder: 2, segment: 'all', count: signup, conversionRate: conv(signup, visit) },\n  { step: 'onboard', stepOrder: 3, segment: 'all', count: onboard, conversionRate: conv(onboard, signup) },\n  { step: 'first_action', stepOrder: 4, segment: 'all', count: firstAction, conversionRate: conv(firstAction, onboard) },\n  { step: 'paid', stepOrder: 5, segment: 'all', count: paid, conversionRate: conv(paid, firstAction) },\n];\n\nreturn [\n  {\n    json: {\n      snapshotDate,\n      rows,\n      summary: { visit, signup, onboard, firstAction, paid },\n      errorMsg,\n    },\n  },\n];"
      },
      "id": "build-funnel",
      "name": "Build funnel rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/growth/funnel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snapshotDate\": \"{{ $json.snapshotDate }}\",\n  \"rows\": {{ JSON.stringify($json.rows) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "post-funnel",
      "name": "POST /api/internal/growth/funnel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that builds a stable\n// `alertId` so n8n retries no-op via ON CONFLICT DO NOTHING server-side.\nconst funnel = $('Build funnel rows').first()?.json ?? {};\nconst alertId = `${$workflow.id || 'wf60'}:${$execution.id || 'unknown'}:growth-funnel`;\nconst summary = funnel.errorMsg\n  ? `Growth funnel snapshot error — ${funnel.errorMsg}`\n  : `Growth funnel ${funnel.snapshotDate} — visit ${funnel.summary?.visit ?? 0}, signup ${funnel.summary?.signup ?? 0}, paid ${funnel.summary?.paid ?? 0}.`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      snapshotDate: funnel.snapshotDate ?? null,\n      summaryRow: funnel.summary ?? null,\n      posthogFailed: Boolean(funnel.errorMsg),\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-60",
      "name": "Build alert payload (growth-funnel)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"growth\",\n  \"severity\": \"P2\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-60",
      "name": "POST /api/internal/alerts/post (growth-funnel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "={{ $('Build funnel rows').item.json.errorMsg ? `⚠️ *Growth funnel — ${$('Build funnel rows').item.json.snapshotDate}*\n\n_PostHog API error:_ \\`${$('Build funnel rows').item.json.errorMsg}\\`\n\nПеревірте \\`POSTHOG_API_KEY\\` / \\`POSTHOG_PROJECT_ID\\` / \\`POSTHOG_HOST\\` на n8n Railway.` : `📊 *Growth funnel — ${$('Build funnel rows').item.json.snapshotDate}*\n\n👀 visit: \\`${$('Build funnel rows').item.json.summary.visit}\\`\n📝 signup: \\`${$('Build funnel rows').item.json.summary.signup}\\`\n🚀 onboard: \\`${$('Build funnel rows').item.json.summary.onboard}\\`\n🎯 first_action: \\`${$('Build funnel rows').item.json.summary.firstAction}\\`\n💳 paid: \\`${$('Build funnel rows').item.json.summary.paid}\\`` }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_GROWTH }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (growth-funnel)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (growth-funnel)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (growth-funnel)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-funnel",
      "name": "Telegram → growth funnel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 300],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "Cron 02:30 Kyiv": {
      "main": [
        [
          {
            "node": "PostHog → funnel HogQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostHog → funnel HogQL": {
      "main": [
        [
          {
            "node": "Build funnel rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build funnel rows": {
      "main": [
        [
          {
            "node": "POST /api/internal/growth/funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/growth/funnel": {
      "main": [
        [
          {
            "node": "Build alert payload (growth-funnel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build alert payload (growth-funnel)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (growth-funnel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (growth-funnel)": {
      "main": [
        [
          {
            "node": "Telegram → growth funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "posthog"
    },
    {
      "name": "growth"
    }
  ],
  "active": false
}
