ops/n8n-workflows/60-growth-funnel-snapshot.json
{
  "name": "60 — Growth Funnel Snapshot (02:30 Kyiv → POST /api/internal/growth/funnel)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 2 * * *"
            }
          ]
        }
      },
      "id": "cron-funnel",
      "name": "Cron 02:30 Kyiv",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.posthog.com/api/projects/{{ $env.POSTHOG_PROJECT_ID }}/query/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.POSTHOG_PERSONAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"kind\": \"HogQLQuery\",\n    \"query\": \"SELECT count(DISTINCT if(event = '$pageview', distinct_id, NULL)) AS visit, count(DISTINCT if(event = 'signup_completed', distinct_id, NULL)) AS signup, count(DISTINCT if(event = 'onboarding_completed', distinct_id, NULL)) AS onboard, count(DISTINCT if(event = 'first_action_completed', distinct_id, NULL)) AS first_action, count(DISTINCT if(event = 'subscription_started', distinct_id, NULL)) AS paid FROM events WHERE timestamp >= toStartOfDay(now() - INTERVAL 1 DAY) AND timestamp < toStartOfDay(now())\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "posthog-funnel",
      "name": "PostHog → funnel HogQL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse PostHog HogQL response and build funnel rows for /api/internal/growth/funnel.\n// Expected response shape: { results: [[visit, signup, onboard, first_action, paid]], columns: [...] }\nconst response = $input.first().json;\nconst raw = Array.isArray(response?.results) ? response.results[0] ?? [] : [];\nconst [visit, signup, onboard, firstAction, paid] = [0, 1, 2, 3, 4].map(\n  (i) => Number(raw[i]) || 0,\n);\n\n// snapshotDate = вчора у Kyiv-tz (стабільно навколо опівночі).\nconst fmt = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Kyiv',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n});\nconst yesterday = new Date(Date.now() - 24 * 60 * 60 * 1000);\nconst snapshotDate = fmt.format(yesterday);\n\nfunction conv(numerator, denominator) {\n  if (!denominator || denominator <= 0) return null;\n  return Math.round((numerator / denominator) * 10000) / 10000;\n}\n\nconst rows = [\n  { step: 'visit', stepOrder: 1, segment: 'all', count: visit, conversionRate: null },\n  { step: 'signup', stepOrder: 2, segment: 'all', count: signup, conversionRate: conv(signup, visit) },\n  { step: 'onboard', stepOrder: 3, segment: 'all', count: onboard, conversionRate: conv(onboard, signup) },\n  { step: 'first_action', stepOrder: 4, segment: 'all', count: firstAction, conversionRate: conv(firstAction, onboard) },\n  { step: 'paid', stepOrder: 5, segment: 'all', count: paid, conversionRate: conv(paid, firstAction) },\n];\n\nreturn [\n  {\n    json: {\n      snapshotDate,\n      rows,\n      summary: { visit, signup, onboard, firstAction, paid },\n    },\n  },\n];"
      },
      "id": "build-funnel",
      "name": "Build funnel rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL }}/api/internal/growth/funnel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snapshotDate\": \"{{ $json.snapshotDate }}\",\n  \"rows\": {{ JSON.stringify($json.rows) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "post-funnel",
      "name": "POST /api/internal/growth/funnel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=📊 *Growth funnel — {{ $('Build funnel rows').item.json.snapshotDate }}*\n\n👀 visit: `{{ $('Build funnel rows').item.json.summary.visit }}`\n📝 signup: `{{ $('Build funnel rows').item.json.summary.signup }}`\n🚀 onboard: `{{ $('Build funnel rows').item.json.summary.onboard }}`\n🎯 first_action: `{{ $('Build funnel rows').item.json.summary.firstAction }}`\n💳 paid: `{{ $('Build funnel rows').item.json.summary.paid }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-funnel",
      "name": "Telegram → growth funnel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 300],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    }
  ],
  "connections": {
    "Cron 02:30 Kyiv": {
      "main": [
        [
          {
            "node": "PostHog → funnel HogQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostHog → funnel HogQL": {
      "main": [
        [
          {
            "node": "Build funnel rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build funnel rows": {
      "main": [
        [
          {
            "node": "POST /api/internal/growth/funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/growth/funnel": {
      "main": [
        [
          {
            "node": "Telegram → growth funnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv"
  },
  "tags": [
    {
      "name": "sergeant"
    },
    {
      "name": "posthog"
    },
    {
      "name": "growth"
    }
  ],
  "active": false
}
