ops/n8n-workflows/98-error-handler.json
{
  "name": "98 - Global Error Handler (dead-letter + Telegram/email)",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_failure_events\n  (workflow_id, workflow_name, execution_id, last_node, error_message, raw)\nVALUES (\n  '{{ $json.workflow.id || \"\" }}',\n  '{{ $json.workflow.name || \"unknown\" }}',\n  '{{ $json.execution.id || \"\" }}',\n  '{{ $json.execution.lastNodeExecuted || \"\" }}',\n  '{{ ($json.error.message || \"unknown error\").replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n);",
        "options": {}
      },
      "id": "insert-dead-letter",
      "name": "Insert n8n failure event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 300],
      "credentials": {
        "postgres": {
          "id": "pwwVNTLBw43PJgey",
          "name": "Sergeant Postgres (sergeant-db)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=🚨 *n8n workflow failed*\n\nWorkflow: `{{ $('Error Trigger').first().json.workflow.name || 'unknown' }}`\nExecution: `{{ $('Error Trigger').first().json.execution.id || 'unknown' }}`\nNode: `{{ $('Error Trigger').first().json.execution.lastNodeExecuted || 'unknown' }}`\nError: {{ $('Error Trigger').first().json.execution.error.message || 'unknown error' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-alert",
      "name": "Telegram failure alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 220],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-email-env",
              "leftValue": "={{ ($env.OPS_ALERT_EMAIL || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "has-email-env",
      "name": "OPS_ALERT_EMAIL set?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Sergeant Ops <ops@sergeant.app>\",\n  \"to\": [\"{{ $env.OPS_ALERT_EMAIL }}\"],\n  \"subject\": \"n8n workflow failed: {{ $('Error Trigger').first().json.workflow.name || 'unknown' }}\",\n  \"html\": \"<p>Workflow: <strong>{{ $('Error Trigger').first().json.workflow.name || 'unknown' }}</strong></p><p>Execution: {{ $('Error Trigger').first().json.execution.id || 'unknown' }}</p><p>Error: {{ $('Error Trigger').first().json.execution.error.message || 'unknown error' }}</p>\"\n}",
        "options": {}
      },
      "id": "email-fallback",
      "name": "Email failure fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E765p971FMV4eDbY",
          "name": "Resend (Bearer)"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Insert n8n failure event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert n8n failure event": {
      "main": [
        [
          {
            "node": "Telegram failure alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "OPS_ALERT_EMAIL set?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPS_ALERT_EMAIL set?": {
      "main": [
        [
          {
            "node": "Email failure fallback",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv"
  },
  "active": false,
  "tags": [
    {
      "name": "ops"
    },
    {
      "name": "dead-letter"
    }
  ]
}
