ops/n8n-workflows/99-heartbeat.json
{
  "name": "99 — Heartbeat (n8n alive check every 3h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "cron-3h",
      "name": "Every 3 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ADR-0038, Wave 3 §3.2 — pre-Telegram step that builds a stable\n// `alertId` so retries no-op via ON CONFLICT DO NOTHING server-side.\n// Heartbeat itself is a silent informational broadcast; the ack-row\n// gives /alerts pending and WF-103 a uniform paper-trail across all\n// 17 wired workflows.\nconst now = new Date();\nconst kyivTs = now.toLocaleString('uk-UA', { timeZone: 'Europe/Kyiv', hour12: false });\nconst alertId = `${$workflow.id || 'wf99'}:${$execution.id || 'unknown'}:heartbeat`;\nconst summary = `n8n heartbeat OK — ${kyivTs}`;\nreturn [{\n  json: {\n    alertId,\n    summary,\n    kyivTs,\n    metadata: {\n      workflowId: $workflow.id || 'unknown',\n      executionId: $execution.id || 'unknown',\n      kyivTs,\n    },\n  },\n}];"
      },
      "id": "build-alert-payload-99",
      "name": "Build alert payload (heartbeat)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL || 'https://api.invalid.local' }}/api/internal/alerts/post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alertId\": \"{{ $json.alertId }}\",\n  \"topic\": \"meta\",\n  \"severity\": \"P3\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "post-alert-row-99",
      "name": "POST /api/internal/alerts/post (heartbeat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=✅ n8n alive — {{ $('Build alert payload (heartbeat)').item.json.kyivTs }}",
        "additionalFields": {
          "disable_notification": true,
          "message_thread_id": "={{ $env.TELEGRAM_TOPIC_META }}",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Прочитав\",\"callback_data\":\"ack:r:{{ $('Build alert payload (heartbeat)').item.json.alertId }}\"},{\"text\":\"🔄 Розбираю\",\"callback_data\":\"ack:i:{{ $('Build alert payload (heartbeat)').item.json.alertId }}\"},{\"text\":\"🔕 Замутити 30хв\",\"callback_data\":\"ack:m:{{ $('Build alert payload (heartbeat)').item.json.alertId }}\"}]]}"
        }
      },
      "id": "telegram-heartbeat",
      "name": "Telegram → heartbeat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, 300],
      "credentials": {
        "telegramApi": {
          "id": "ggxeCc1ALZKLuMPV",
          "name": "Telegram (Sergeant_alert_bot)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "telegram-failed",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "check-telegram-ok",
      "name": "Telegram failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Sergeant Ops <ops@sergeant.app>\",\n  \"to\": [\"{{ $env.OPS_ALERT_EMAIL }}\"],\n  \"subject\": \"🚨 n8n heartbeat via Telegram FAILED\",\n  \"html\": \"<p>n8n is running but could not send a Telegram heartbeat at <strong>{{ new Date().toISOString() }}</strong>.</p><p>Check: Telegram Bot Token, chat ID, bot permissions.</p>\"\n}",
        "options": {}
      },
      "id": "email-fallback",
      "name": "Resend → email fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E765p971FMV4eDbY",
          "name": "Resend (Bearer)"
        }
      }
    }
  ],
  "connections": {
    "Every 3 hours": {
      "main": [
        [
          {
            "node": "Build alert payload (heartbeat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build alert payload (heartbeat)": {
      "main": [
        [
          {
            "node": "POST /api/internal/alerts/post (heartbeat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/alerts/post (heartbeat)": {
      "main": [
        [
          {
            "node": "Telegram → heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram → heartbeat": {
      "main": [
        [
          {
            "node": "Telegram failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram failed?": {
      "main": [
        [
          {
            "node": "Resend → email fallback",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "saveManualExecutions": false,
    "saveExecutionProgress": false,
    "errorWorkflow": "iC82EFJzqBny9kxI"
  },
  "tags": [
    {
      "name": "ops"
    },
    {
      "name": "heartbeat"
    }
  ]
}
